.nav.nav-tabs > li.active > a {
    background-color: #ffffff;
    border: 0;
}
.nav.nav-tabs > li > a,
.nav.tabs-vertical > li > a {
    background-color: transparent;
    border-radius: 0;
    border: none;
    color: #333333 !important;
    cursor: pointer;
    line-height: 50px;
    font-weight: 700;
    padding: 0 20px;
}
.nav.nav-tabs > li > a:hover,
.nav.tabs-vertical > li > a:hover {
    color: #6e8cd7 !important;
}
.tab-content {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    color: #777777;
}
.nav.nav-tabs > li:last-of-type a {
    margin-right: 0;
}
.nav.nav-tabs {
    border-bottom: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.navtab-bg {
    background-color: #eeeeee;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
    border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.tabs-vertical > li.active > a,
.tabs-vertical > li.active > a:focus,
.tabs-vertical > li.active > a:hover {
    color: #6e8cd7 !important;
}
.user-tabs .nav.nav-tabs {
    box-shadow: none !important;
}
.user-tabs .nav.nav-tabs a {
    text-transform: uppercase;
}